<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Jade's Newsfeed</title>
		<style>
			@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");

			body {
				font-family: "Nanum Myeongjo", serif;
				line-height: 1.7;
				max-width: 600px;
				margin: 50px auto 50px;
				padding: 0 12px 0;
				height: 100%;
			}

			li {
				padding-bottom: 16px;
			}
		</style>
	</head>
	<body>
		<h1>News</h1>

		<ol>
			{{ range .Links }}<li><a href="{{ .URL }}">{{ .Title }}</a> ({{ .Host }})</li>
			{{ end }}
		</ol>

		<footer>
			<p><a href="https://github.com/jda/jade-news">What is this?</a></p>
			<p>Last updated {{ .LatestNewsTime }}</p>
		</footer>
	</body>
</html>